h1 { color: #d16d6d; font-size: 20px; font-family: "微软雅黑", "Microsoft YaHei", "雅黑", "YaHei", sans-serif;}
h2 { color: #6dd18d; font-size: 18px; font-family: "微软雅黑", "Microsoft YaHei", "雅黑", "YaHei", sans-serif;}
h3 { color: #6d9dd1; font-size: 16px; font-family: "微软雅黑", "Microsoft YaHei", "雅黑", "YaHei", sans-serif;}
body { font-size: 14px; font-family: "微软雅黑", "Microsoft YaHei", "雅黑", "YaHei", sans-serif;}

details > * {
  padding-left: 20px; /* 整个 details 内的内容左侧缩进20px */
}

details pre {
  margin-left: 30px;
}

details > :not(summary) {
  margin-left: 30px;  /* 让展开内容整体缩进20px */
}


